.admin {
  display: grid;
  grid-template-columns: 200px auto;
  padding-top: 110px;
}

.admin-list {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: max-content;
}

.card {
  display: block !important;
  /* margin: 5px; */
}

.aside {
  padding-top: 25px;
}

.aside-link {
  display: block;
  margin-top: 15px;
}

.name {
  height: 2rem;
}

.species {
  height: 2rem;
  margin: 0;
}
